/* Google font Link */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fea116;
    --white: #ffffff;
    --dark: #0F172B;
    --icon-color: #ae9548;
    --main-color: #0b0b8ddc;
    --header-font: "Playfair Display", serif;
    --style-font: "Pacifico", cursive;
}

body{
    font-family: "Roboto Slab", serif;
}


/*------Navbar------*/
.navbar{
    background-color: rgba(189, 238, 246, 0.996);
  }
.navbar-brand{
    color: var(--main-color);
    font-weight: 600;
    font-family: var(--style-font);
    margin-left: 22px;
}
.collapse{
    padding: 10px;
    justify-content: end;
}
.nav-item .nav-link.active{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}
.nav-item .nav-link.active:hover{
    color: var(--primary);
}

/*----Rooom Header-----*/
.banner{
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../Images/Rooms/banner.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.head-text{
    font-size: 50px;
    margin-top: 70px;
    font-weight: 600;
}

/*----Room section------*/
.Room-section{
    padding-bottom: 0;
}

.room-page-item{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
}

.room-page-item .room-pic .single-room img{
    height: 350px;
    padding: 10px;
}
.room-text{
    padding-top: 33px;
    padding-right: 30px;
    padding-bottom: 34px;
}
.room-title{
    overflow: hidden;
    margin-bottom: 18px;
    padding-right: 40px;
}
.room-title h2{
    float: left;
    color: var(--main-color);
    font-size: 35px;
    font-weight: 600;
}

.room-price {
	float: right;
	position: relative;
}
.room-price span{
    position: absolute;
    left: -40px;
    bottom: 7px;
    font-size: 14px;
    font-family: var(--header-font);
    font-weight: 300;
    line-height: 14px;
    color: var(--main-color);
}
.room-price sub{
    position: absolute;
    right: -37px;
    bottom: 13px;
    color: var(--main-color);
    font-family: var(--header-font);
    font-weight: 300;
}

.room-desc{
    margin-bottom: 20px;
}
.room-desc p{
    font-size: 20px;
    color: black;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.room-features{
    overflow: hidden;
    margin-bottom: 10px;
}
.room-info{
    float: left;
    text-align: center;
    margin-right: 38px;
}
.room-info.last{
    margin-right: 0;
}
.room-info i{
    display: block;
    color: var(--icon-color);
    margin-bottom: 8px;
    font-size: 30px;
}
.room-info span{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

.btn-btn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
	font-size: 15px;
	font-weight: 700;
	padding: 15px 0;
	padding-left: 34px;
	padding-right: 34px;
	color: black;
	text-transform: uppercase;
	border: 2px solid var(--primary);
	position: relative;
}

/*-----Footer------*/
.copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 2px solid rgba(256, 256, 256, 0.1);
  }
  
  .copyright a {
    color: #fea116;
    text-decoration: none;
  }
  
  .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
    color: white;
  }
  
  .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  